<a href="https://colab.research.google.com/github/Shrinivas18/Python_Coding_Problems/blob/main/Column_Name_to_Column_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Write a function which takes the excel column name as an input and returns the corresponding column number. A few examples are :

* column name = <code>'J'</code> , column number = <code>10</code>
* column name = <code>'AP'</code> , column number = <code>42</code>
* column name = <code>'AAA'</code>, column number = <code>703</code>

In [ ]:
def get_excel_column_number(column_name):
  '''
  This functions returns the corresponding column number for an excel column name
  '''
  # Write your code here
  result = 0;
  for B in range(len(column_name)):
    result = result * 26;
    result = result + ord(column_name[B]) - ord('A') + 1;

  return result;

In [ ]:
# Check
get_excel_column_number('J')

10

In [ ]:
# Check
get_excel_column_number('AAB')

704